[submodule "src/reshade"]
  path = src/reshade
  url = https://github.com/misyltoad/reshade/

[submodule "thirdparty/SPIRV-Headers"]
  path = thirdparty/SPIRV-Headers
  url = https://github.com/KhronosGroup/SPIRV-Headers/
